# use glob syntax
syntax: glob

# Ignore folders
testrunner/
[Oo]bj/
[Bb]in/
[Bb]ackup/
_UpgradeReport*

# NuGet Packages Directory
packages
.nuget
.paket

# Ignore Visual Studio files
*.pdb
*.suo
*.user
*.bak
*.log
*.lib
*.userprefs

# ignore other bs
*.~?~
.DS_Store
*.swp
TestResult.*
.xake*
.fake
src/**/*.exe
src/**/*.dll
src/**/*.fsx.lock
temp
paket-files/
src/out/
